/** Eliminar margenes internos y externos por defecto**/
*{
    padding:0;
    margin:0;
}
.degragado{
    position:relative;
    width:100%;
    height:5vh;
    margin-top:5px;
    border-radius:30px 30px 0 0;
}
.degragado ul{
    list-style:none;
}
.degragado ul li{
    width:13%;
    height: 5vh;
    display:inline;
    float:left;
    text-align:center;
   
}
/* Seleccionar a la etiqueta <li> número 3*/
   .degragado ul li:nth-child(3){
       background: rgba(211, 153, 6,1);
       border-radius:30px 0 0 0;
       
   }
   /* Seleccionar a la etiqueta <li> número 4*/
   .degragado ul li:nth-child(4){
        background: rgba(7, 130, 132,1);
       
   }
   /* Seleccionar a la etiqueta <li> número 5*/
   .degragado ul li:nth-child(5){
        background: rgba(61, 3, 54, 1);
        border-radius:0 30px 0 0;
       
   }
   .section_form{
        position:relative;
        width:100%;
        height:50vh;
        text-align:center;
    }
   .login_form{
       position:absolute;
       width:38.8%;
       height: 40vh;
       left: 26%;
       border:1px solid gray;
       border-radius:0 0 30px 30px;
       background: #fff;
   }

.inputs{
    padding-top:1%;
   float:left;
}
.inputsLeft{
    width:35%;
    text-align:right;    
    font-family: 'Playfair Display', serif; /*Fuente tomada de Google Fonts*/
    font-size:18px;
    font-weight:bolder;
    letter-spacing: 2px;
}            
.inputRight{
    width:65%;
    text-align:center;
}
#btn-ingresar{
    width:120px;
    margin-top:20px;
    text-align:center;
}
.titleForm{
    font-family: 'Josefin Slab', serif; /*Fuente tomada de Google Fonts*/
    font-size:36px;
}
.user_messages{
    color: brown;
    font-size: 12px;
}
/************
    Section de Welcome
*************/
.welcome{
    display: block;
    width:40%;
    height:50vh;
    margin: 0 auto;
    background:rgba(25,25,70,.5);
}
.welcome > h1{
    color: #fff;
    font-size:40px;
    text-align: center;
    text-shadow: 2px 1px 1px #000;
}